h1 {
    background-color: #cccccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
}

p {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
}